<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!-- Globally enables or disables any caches configured in any mapper under this configuration -->
        <setting name="cacheEnabled" value="true"/>
        <!-- Sets the number of seconds the driver will wait for a response from the database -->
        <setting name="defaultStatementTimeout" value="3000"/>
        <!-- Enables automatic mapping from classic database column names A_COLUMN to camel case classic Java property names aColumn -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- Allows JDBC support for generated keys. A compatible driver is required.
        This setting forces generated keys to be used if set to true,
         as some drivers deny compatibility but still work -->
        <setting name="useGeneratedKeys" value="true"/>
    </settings>

    <!-- Environment config -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/pistachio?useUnicode=true&amp;characterEncoding=utf8"/>
                <property name="username" value="pdev01"/>
                <property name="password" value="test"/>
            </dataSource>
        </environment>
    </environments>

    <!-- Table mappers -->
    <mappers>
        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="mapper/UserAuthMapper.xml"/>
        <mapper resource="mapper/BookInfoMapper.xml"/>
        <mapper resource="mapper/BookDetailMapper.xml"/>
        <mapper resource="mapper/BookStatusMapper.xml"/>
        <mapper resource="mapper/BorrowStatusMapper.xml"/>
        <mapper resource="mapper/BookCategoryMapper.xml"/>
        <mapper resource="mapper/ProcessStatusMapper.xml"/>

    </mappers>

</configuration>