<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.samsara.pistachio.mapper.BookCategoryMapper">
    <resultMap id="BaseResultMap" type="org.samsara.pistachio.entity.BookCategory">
        <id column="cid" property="cid" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        cid, name
    </sql>

    <select id="get" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from book_category
        where cid = #{cid,jdbcType=INTEGER}
    </select>

    <select id="getAll" resultType="java.lang.String">
        SELECT name FROM book_category
    </select>

    <delete id="remove" parameterType="java.lang.Integer">
        DELETE FROM book_category
        WHERE cid = #{cid,jdbcType=INTEGER}
    </delete>

    <delete id="removeByName" parameterType="java.lang.String">
        DELETE FROM book_category
        WHERE name = #{cid,jdbcType=VARCHAR}
    </delete>

    <insert id="add" parameterType="org.samsara.pistachio.entity.BookCategory">
        INSERT INTO book_category (cid, name)
        VALUES (#{cid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="org.samsara.pistachio.entity.BookCategory">
        insert into book_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cid != null">
                cid,
            </if>
            <if test="name != null">
                name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cid != null">
                #{cid,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="getName" resultType="java.lang.String" parameterType="java.lang.Integer">
        SELECT name
        FROM book_category
        WHERE cid = #{cid,jdbcType=INTEGER}
    </select>

    <select id="getCidByName" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT cid
        FROM book_category
        WHERE name = #{name,jdbcType=VARCHAR}
    </select>

    <update id="update" parameterType="org.samsara.pistachio.entity.BookCategory">
        UPDATE book_category
        SET name = #{name,jdbcType=VARCHAR}
        WHERE cid = #{cid,jdbcType=INTEGER}
    </update>
</mapper>