<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.samsara.pistachio.mapper.ProcessStatusMapper">
    <resultMap id="BaseResultMap" type="org.samsara.pistachio.entity.ProcessStatus">
        <id column="psid" property="psid" jdbcType="VARCHAR"/>
        <result column="code" property="code" jdbcType="INTEGER"/>
        <result column="msg" property="msg" jdbcType="VARCHAR"/>
        <result column="level" property="level" jdbcType="VARCHAR"/>
        <result column="userid" property="userid" jdbcType="INTEGER"/>
        <result column="entry_time" property="entryTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        psid, code, msg, level, userid, entry_time
    </sql>

    <select id="getByPSID" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from process_log
        where psid = #{psid,jdbcType=VARCHAR}
    </select>
    
    <select id="getAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from process_log
    </select>

    <select id="getByUser" resultType="org.samsara.pistachio.entity.ProcessStatus">
        select
        <include refid="Base_Column_List"/>
        from process_log
        where userid = #{user_id,jdbcType=INTEGER}
    </select>

    <delete id="remove" parameterType="java.lang.String">
        DELETE FROM process_log
        WHERE psid = #{psid,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="org.samsara.pistachio.entity.ProcessStatus">
        INSERT INTO process_log (psid, code, msg,
                                 level, userid, entry_time
        )
        VALUES (#{psid,jdbcType=VARCHAR}, #{code,jdbcType=INTEGER}, #{msg,jdbcType=VARCHAR},
                #{level,jdbcType=VARCHAR}, #{userid,jdbcType=INTEGER}, #{entryTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <insert id="insertSelective" parameterType="org.samsara.pistachio.entity.ProcessStatus">
        insert into process_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="psid != null">
                psid,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="msg != null">
                msg,
            </if>
            <if test="level != null">
                level,
            </if>
            <if test="userid != null">
                userid,
            </if>
            <if test="entryTime != null">
                entry_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="psid != null">
                #{psid,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                #{code,jdbcType=INTEGER},
            </if>
            <if test="msg != null">
                #{msg,jdbcType=VARCHAR},
            </if>
            <if test="level != null">
                #{level,jdbcType=VARCHAR},
            </if>
            <if test="userid != null">
                #{userid,jdbcType=INTEGER},
            </if>
            <if test="entryTime != null">
                #{entryTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="org.samsara.pistachio.entity.ProcessStatus">
        UPDATE process_log
        SET code       = #{code,jdbcType=INTEGER},
            msg        = #{msg,jdbcType=VARCHAR},
            level      = #{level,jdbcType=VARCHAR},
            userid     = #{userid,jdbcType=INTEGER},
            entry_time = #{entryTime,jdbcType=TIMESTAMP}
        WHERE psid = #{psid,jdbcType=VARCHAR}
    </update>
</mapper>