<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.samsara.pistachio.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="org.samsara.pistachio.entity.User">
        <id column="uid" property="uid" jdbcType="INTEGER"/>
        <result column="borrowId" property="borrowId" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="role" property="role" jdbcType="INTEGER"/>
        <result column="tips" property="tips" jdbcType="VARCHAR"/>
        <result column="gender" property="gender" jdbcType="INTEGER"/>
        <result column="birth" property="birth" jdbcType="DATE"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        uid, borrowId, username, role, tips, gender, birth
    </sql>

    <select id="get" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from user
        where uid = #{uid,jdbcType=INTEGER}
    </select>

    <select id="getByName" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user
        WHERE username = #{username, jdbcType=VARCHAR}
    </select>

    <delete id="remove" parameterType="java.lang.Integer">
        DELETE FROM user
        WHERE uid = #{uid,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="org.samsara.pistachio.entity.User">
        INSERT INTO user (uid, borrowId, username,
                          role, tips,
                          gender, birth)
        VALUES (#{uid,jdbcType=INTEGER}, #{borrowId,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR},
                #{role,jdbcType=INTEGER}, #{tips,jdbcType=VARCHAR},
                #{gender,jdbcType=INTEGER}, #{birth,jdbcType=DATE})
    </insert>

    <insert id="insertSelective" parameterType="org.samsara.pistachio.entity.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                uid,
            </if>
            <if test="borrowId != null">
                borrowId,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="role != null">
                role,
            </if>
            <if test="tips != null">
                tips,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="birth != null">
                birth,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null">
                #{uid,jdbcType=INTEGER},
            </if>
            <if test="borrowId != null">
                #{borrowId,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="role != null">
                #{role,jdbcType=INTEGER},
            </if>
            <if test="tips != null">
                #{tips,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=INTEGER},
            </if>
            <if test="birth != null">
                #{birth,jdbcType=DATE},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="org.samsara.pistachio.entity.User">
        update user
        <set>
            <if test="borrowId != null">
                borrowId = #{borrowId,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="role != null">
                role = #{role,jdbcType=INTEGER},
            </if>
            <if test="tips != null">
                tips = #{tips,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=INTEGER},
            </if>
            <if test="birth != null">
                birth = #{birth,jdbcType=DATE},
            </if>
        </set>
        where uid = #{uid,jdbcType=INTEGER}
    </update>

    <update id="update" parameterType="org.samsara.pistachio.entity.User">
        UPDATE user
        SET borrowId = #{borrowId,jdbcType=INTEGER},
            username = #{username,jdbcType=VARCHAR},
            role     = #{role,jdbcType=INTEGER},
            tips     = #{tips,jdbcType=VARCHAR},
            gender   = #{gender,jdbcType=INTEGER},
            birth    = #{birth,jdbcType=DATE}
        WHERE uid = #{uid,jdbcType=INTEGER}
    </update>

</mapper>